:root {
    --colore: #00579e;
}

.contacts-item h4, .contacts-item a {
    color: var(--colore);
    font-size: 1.25rem;
    font-weight: bold;
}

.contacts-social {
    transition: color 0.3s ease;
}

.contacts-social:hover {
    color: var(--fucsia);
    text-decoration: none;
}

.contacts-item h2 {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .contacts-item h2 {
        margin-bottom: 0;
    }

    .contacts-item {
        text-align: center;
    }
}